#titulo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.txt {
    display: block;
    padding: 20px;
}
.txts {
    max-height: 180px;
}
.alerta {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    color: #576867;
    grid-gap: 10px;
}
#botoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;    
}