@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    background: #d7e5e2;
}
#barraSuperior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #576867;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
#titulo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-right: 2px solid rgba(255, 255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    user-select: none;
    font-size: 1.5em;
    
}
.typing-animation {    
    animation: blinkCursor 1s 400ms steps(20) normal infinite, typing 4s steps(20) normal 5s;
}
@keyframes typing {
    from{
        width: 0em;
    }
    to {
        width: 11.5rem;
    }
}

@keyframes blinkCursor {
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color: transparent;
    }
}

#aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    user-select: none;
    color: red;
}
#txt {
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 20px;
    text-align: center;
    grid-gap: 25px;
}
.txts {
    width: 100%;
    resize: none;
    color: black;
    outline: none;
    background-color: transparent;
    font-family: 'Share Tech Mono', monospace;
    background-image: url("../img/boneco.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding-bottom: 50px;
}
#botoes{
    padding: 20px;
    justify-content: center;
    text-align: center;   
}
#alerta {
    padding-top: 20px;
    display: flex;
    color: #576867;
    grid-gap: 20px;
    justify-content: center;
}
#alerta1 {
    display: flex;
     align-items: center;
     justify-content: center;
}
#alerta2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns { 
    background-color: #576867;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.1rem;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;   
}
.btns:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

hr {
    max-width: 70%;
    margin-top: 20px;
}
#txtTec {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #576867;
}
#tecs {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    color: #576867;
    padding-bottom: 130px;
}
#meusLinks {
    padding: 20px;
    display: flex;
    background: #576867;
    justify-content: center;
    grid-gap:10%;
}
#shareV {
    color: #576867;
}
.corBranca {
    color: #ffffff;
}
@media screen and (max-width: 800px) {

    #troca {
        display: grid;
    }
    #alerta {
        order: 2;
    }
    #botoes {
        order: 1;
    }
}