@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    background: #D7E5E2;
}
.barraSuperior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #576867;
    justify-items: center;
    align-items: center; 
}
#titulo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.txt {
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 50px;
    text-align: center;
    grid-gap: 25px;
}
.txts {
    width: 100%;
    resize: none;
    color: black;
    outline: none;
    background-color: transparent;
    font-family: 'Share Tech Mono', monospace;
    background-image: url("../img/boneco.svg");
    background-repeat: no-repeat;
    background-position: center;   
}
.alerta {
    display: flex;
    color: #576867;
    grid-gap: 20px;
    justify-content: center;
}
.alerta1 {
    display: flex;
     align-items: center;
     justify-content: center;
}
.alerta2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkAlura {
    color: #576867;
    text-decoration: none;
}
#botoes{
    padding: 20px;
    justify-content: center;
    text-align: center;   
}
.btns { 
    background-color: #576867;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.1rem;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;   
}
.btns:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#txtTec {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #576867;
}
#tecs {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: #576867;
    padding-bottom: 150px;
}
.tec1 {
    display: flex;
    align-items:baseline;
}
.tec2 {
    display: flex;
    align-items: baseline;
}
.tec3 {
    display: flex;
    align-items: baseline;
}
#meusLinks {
    padding: 30px;
    display: flex;
    color: #fff;
    background: #576867;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    grid-gap:20px;
}
